<div class="container">
  <div class="row">
    <h2>商品</h2>
  </div>

  <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
  <div class="row">
    <p class="col-3">商品画像
    <div class="col-3">
      <%= f.file_field :image %>
    </div>
  </div>

  <div class="row">
    <p class="col-3">商品名</p>
    <div class="col-3">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <p class="col-3">商品説明</p>
    <div class="col-3">
      <%= f.text_area :introduction %>
    </div>
  </div>

  <div class="row">
    <p class="col-3">ジャンル</p>
    <div class="col-3"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></div>
  </div>

  <div class="row">
    <p class="col-3">税抜価格</p>
    <div class="col-3">
      <%= f.text_field :price %>
    </div>
  </div>

  <div class="row">
    <p class="col-3">販売ステータス</p>
    <div class="col-2"><%= f.radio_button :is_active, true %></div>
    <div class="col-2"><%= f.label :is_active, '販売中', value: true %></div>
　　<div class="col-2"><%= f.radio_button :is_active, false %></div>
　　<div class="col-2"><%= f.label :is_active, '販売停止中', value: false %></div>
  </div>

  <div class="row">
　　　 <%= f.submit '保存を変更する', class: "btn btn-success center-block" %>
  </div>

  <% end %>

</div>
