<div class="container">
  <div class="row">
    <h2 class="bg-dark-subtle text-dark">商品一覧</h2>
   <button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
  </div>

  <table>
    <thead>
      <tr>
       <th>商品ID</th>
       <th>商品名</th>
       <th>税抜価格</th>
       <th>ジャンル</th>
       <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @item.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <span>
         <td><%= link_to item.name, admin_item_path(item.id) %></td>
        </span>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_active == true %>
           <i class="font-weight-bold text-success"></i>販売中
          <% else item.is_active == false %>
           <i class="font-weight-bold text-info"></i>販売中止
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @item %>

</div>


























</div>
