<div class="container">
  <div class="row justify-content-between">
    <h2 class="bg-dark-subtle text-dark col-4">商品一覧</h2>
   <a class="btn btn-primary rounded-circle p-0"  href="/admin/items/new" style="width:2rem;height:2rem;">＋</a>
  </div>

  <table class="table">
    <thead>
      <tr>
       <th>商品ID</th>
       <th>商品名</th>
       <th>税抜価格</th>
       <th>ジャンル</th>
       <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @item.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <span>
         <td><%= link_to item.name, admin_item_path(item.id) %></td>
        </span>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_active == true %>
           <i class="font-weight-bold text-success"></i>販売中
          <% else item.is_active == false %>
           <i class="font-weight-bold text-info"></i>販売中止
          <% end %>
        </td>
      <td><%= link_to "Destroy", admin_item_path(item.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に消しますか？" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @item %>

</div>


























</div>
