<div class="container">
 <h2>商品新規登録</h2>
  <div class="row">
   <div class="col-md-9">

    <div class="form-group">
     <div class="field">
      <%= form_with model: @item do |f| %>
       <p>商品画像</p>
       <%= f.file_field :image, class: "col-xs-3" %>
       <p>商品名</p>
       <%= f.text_field :name, class: "col-xs-3" %>
       <p>商品説明</p>
       <%= f.text_area :introduction, class: "col-xs-3" %>
       <p>ジャンル</p>
       <%= f.select :faculty, [["ケーキ", "ケーキ"], ["焼き菓子", "焼き菓子"], ["あ", "あ"], ["い", "い"]], include_blank: "‐‐選択して下さい‐‐" %>
       <p>税抜価格</p>
       <%= f.text_field :price, class: "col-xs-3" %>円
       <p>販売ステータス</p>
       <%= f.radio_button :receive_news, '1' %>
       <%= f.label :receive_news, '販売中', value: 1 %>
　　　 <%= f.radio_button :receive_news, '0' %>
　　　 <%= f.label :receive_news, '販売中止', value: 0 %>

　　　 <%= f.submit '新規登録', class: "btn btn-success" %>
      <% end %>
     </div>
    </div>






   </div>
  </div>
</div>

