<div class="container">
  <div class="row mt-3">
    <h2>配送先登録/一覧</h2>
  </div>

  <%= form_with model: @address, url: "/address", method: :post do |f| %>
   <div class="row">
     <p class="col-3">郵便番号(ハイフンなし)</p>
     <div class="col-3"><%= f.text_field :postal_code %></div>
   </div>

   <div class="row">
     <p class="col-3">住所</p>
     <div class="col-6"><%= f.text_field :address %></div>
   </div>

   <div class="row">
     <p class="col-3">宛名</p>
     <div class="col-3"><%= f.text_field :name %></div>
     <%= f.submit '新規登録', class: "btn btn-success" %>
   </div>
  <% end %>

   <table class="table mt-5"  style="width: 85%">
     <thead>
       <tr>
         <th>郵便番号</th>
         <th>住所</th>
         <th>宛名</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
      <% @addresses.each do |addresses| %>
       <tr>
         <td class="col-3"><%= addresses.postal_code %></td>
         <td class="col-3"><%= addresses.address %></td>
         <td class="col-3"><%= addresses.name %></td>
         <td><%= link_to '編集する', edit_address_path(addresses.id), class: "btn btn-success" %></td>
         <td><%= link_to '削除する', address_path(addresses.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に消しますか？" %></td>
       </tr>
      <% end %>
     </tbody>
   </table>

</div>