<div class="container">
  <div class="row">
    <h2 class="bg-secondary text-dark">会員一覧</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th class="col-1">会員ID</th>
        <th class="col-2">氏名</th>
        <th class="col-2">メールアドレス</th>
        <th class="col-3">ステータス</th>
      </tr>
    </thead>
    <% @customers.each do |f| %>
    <tbody>
      <tr>
        <td class="col-1"><%= f.id %></td>
        <span>
         <td class="col-2"><%= link_to f.last_name, admin_customer_path(f.id) %><%= f.first_name %></td>
        </span>
        <td class="col-2"><%= f.email %></td>
        <td class="col-3">退会機能つけたら実装する</td>
      </tr>
    </tbody>
    <% end %>
  </table>

  <%= paginate @customers %>

</div>
