<div class="container">
  <div class="row mt-3">
  <h2>ジャンル一覧・追加</h2>
  </div>
   <%= form_with model: @genre, url: admin_genres_path do |f| %>
  <div class="row mb-2">
         <div class="col-2"><p class="font-weight-bold">ジャンル名</p></div>
          <div class="col-3"><%= f.text_field :name %></div>
          <div class="col-3"><%= f.submit '新規登録', class: "btn btn-success" %></div>
  </div>
   <% end %>
     <table class="table" style="width: 30%">
       <thead class="thead-light">
         <tr>
           <th>ジャンル</th>
         </tr>
       </thead>
       <tbody>
         <% @genres.each do |genre| %>
         <tr>
           <th><%= genre.name %></th>
           <span>
             <th><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %></th>
           </span>
         </tr>
         <% end %>
       </tbody>
     </table>

</div>