<div class="container">
  <h2 class="bg-dark-subtle text-dark">注文情報入力</h2>

  <p class="font-weight-bold">支払方法</p>

    <%= form_with model: @order, url: verification_orders_path do |f| %>
     <div class="ml-3">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
     </div>

     <p class="font-weight-bold">お届け先</p>
     <div class="ml-4">
     <div class="row">
      <%= f.radio_button :address_select, 0 %>ご自身の住所
     </div>
     <div class="row ml-2">
      <%= current_customer.customer_display %>
     </div>

     <div class="row mt-2">
      <%= f.radio_button :address_select, 1 %>登録済住所から選択
     </div>
     <div class="row ml-2">
      <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
     </div>

     <div class="row mt-2">
      <%= f.radio_button :address_select, 2 %>新しいお届け先
     </div>
     <div class="row ml-2">
      <p  class="col-3">郵便番号(ハイフンなし)</p>
      <%= f.text_field :shipping_postal_code, class: "col-xs-3"  %>
     </div>
     <div class="row ml-2">
      <p class="col-3">住所</p>
      <%= f.text_field :shipping_address, class: "col-5" %>
     </div>
     <div class="row ml-2">
      <p  class="col-3">宛名</p>
      <%= f.text_field :shipping_name, class: "col-xs-3" %>
     </div>

     <div class="row mt-4 justify-content-center">
      <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
     </div>
    <% end %>

</div>
